
.profile{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    #card-container{
        margin-top: $navbarSize + 64px;
    }
    .card.flex{
        flex-direction: column;
        align-items: center;
        width: 30%;
        background: rgba(white, 0.5);
        .avatar figure{
            height: auto;
            width: 128px;
            img{
                background: white;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 5px 15px 0px rgba($primary, 0.1), 15px 5px 0px rgba($blue, 0.22);
                border-radius: 50%;
            }
        }
        .container.flex{
            flex-direction: column;
            padding: 1em;
            // Profile details container
            span{
                padding: 1em;
                padding-bottom: 0;
                background: $white;
                border-radius: 16px;
                box-shadow: 2px 5px 5px rgba($dark, 0.1);
                h1{
                    color: $primary;
                    &:empty{
                        text-align: left;
                        white-space: nowrap;
                        &::after{
                            content: 'Profile Missing';
                        }
                    }
                }
                h2{
                    font-size: 0.7em;
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }
            .options.flex{
                margin-top: 32px;
                display: inline-flex;
                flex-direction: column-reverse;
                .button{
                    align-self: flex-end;
                }
            }
        }
    }
}