// iOS inspired typography guidelines

h1, h2, h3, h4{
    letter-spacing: 1px;
}

h4, .is-xs{
    font-size: 10pt;
}

h3, .is-sm{
    font-size: 13pt;
}

h2, .is-md{
    font-size: 15pt;
}

h1, .is-lg{
    font-size: 17pt;
}