
$primary: #7678ed;
$secondary: #fefefe;
$accent: #FF6978; 
$coolAccent: #7678ed;

// UI
$fontColor: #555;
$activeLinkColor: #3273dc;

// Navigation
$navbarPrimary: #222;
$navbarSecondary: #333;
$navbarPrimaryLight: #fff;
$navbarSecondaryLight: #ccc;
$tabsBorderBottomColor: #aaa;