@import 'theme';
@import 'mixins';
@import 'ui/layout';
@import 'ui/typography';
@import 'ui/forms';
@import 'ui/components';
@import 'views';

*, *:before, *:after{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  @mixin mobile {
    max-width: $mobile-width;
  }
  @mixin tablet{
    max-width: $tablet-width;
  }
  @mixin desktop{
    max-width: $desktop-width;
  }
}

body{
  background: $primary;
}

#root{
  @include flexbox;
  @include flex(center);
  @include justify(center);
  @include box-pack(center);
  -webkit-align-items: center;
  align-items: center;
}
